{% extends 'main/layout.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center title-page">Edit Post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
            {{ form.title }}
        </div>

        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}" class="form-label">{{ form.content.label }}</label>
            {{ form.content }}
        </div>

        <div class="mb-3">
            <label for="{{ form.image.id_for_label }}" class="form-label">{{ form.image.label }}</label>
            {{ form.image }}

            {% if post.image %}
            <div class="mt-2">
                <img src="{{ post.image.url }}" alt="{{ post.title }} image" class="img-thumbnail" width="100">
            </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <span class="text-danger">{{ error }}</span>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
