{% extends 'main/layout.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-md-4 col-12">
        <h2 class="text-center title-page">Log In</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Log In</button>
        </form>
        {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3">{{ form.non_field_errors }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
