{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center title-page">About This Project</h2>
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <div class="image-about">
                <img src="{% static 'img/logo.jpg' %}" alt="About Image" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-md-6">
            <p class="fs-5 text fw-bolder text-rammetto">
                The CocktailWiki project will help you understand alcoholic cocktails and more.
                Make the mysterious world of cocktails clearer and open your eyes to old things in a new way.
                <br>
                Here you can share your recipes, articles and useful information with others, discuss them in the comments and have fun.
            </p>
        </div>
    </div>
</div>
{% endblock %}
